.root{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  .surveyBG{
    background: #e4ce83 url(../img/Nview.jpg) no-repeat  top center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.surveyCompMain{
  width: 920px;
  margin: auto;
  padding-top: 0;
  margin-top: 68px;
  background: #fff;
  padding-left: 70px;
  position: relative;
  margin-bottom: 80px;
  padding-right: 70px;
  box-sizing: border-box;
}

.surveyHead{
  width: 96%;
  line-height: 20px;
  text-align: center;
  padding: 40px 0 30px;
  h1{
    font-size: 24px;
    color: #39a4db;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #eee;
  }
}


.surveyBody{
  font-size: 18px;
  text-align: left;
  .surveyItem{
    padding: 2% 2% 8px;
    border-radius: 5px;
    border: 2px solid transparent;
    &.error{
      border-color: rgb(255, 153, 0);
    }
    .desc{
      font-size: 1em;
      font-weight: bold;
      &:first-letter {
        text-transform: capitalize;
      }
    }
    .surveyOpts{
      margin-top: 16px;
      line-height: 20px;
      .surveyOpt{
        &, label{
          border-radius: 5px;
          cursor: pointer !important;
        }
        label{
          width: 100%;
          display: block;
          padding: 8px 18px;
          box-sizing: border-box;
        }
        &:hover, label:hover {
          background: #eee;
        }
      }
      li+li{
        margin-left: 60px;
      }
    }
    .largeOpts{
      clear: both;
      width: 100%;
      margin: 0 !important;
    }
    .subItem{
      margin-top: 4px;
      font-size: .8em;
      padding-top: 12px;
      padding-left: 14px;
      border-radius: 5px;
      border: 2px solid transparent;
      &.error{
        border-color: rgb(255, 153, 0);
      }
    }
  }
}

.surveyFooter{
  width: 100%;
  padding: 30px;
  text-align: center;
  border-top: 1px dashed #eee;
}

.confirmFooter{
  button:first-child{
    float: left;
  }
  button:last-child{
    float: right;
  }
}

.statistics{
  top: 0;
  right: 0;
  position: fixed;
  background: #fff;
  padding: 4px;
}