.root {
  width: 100%;
  min-height: 100%;
  padding-top: 20px;
  header {
    font-size: 3em;
    line-height: 2em;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}

.section1 {
  .left {
    float: left;
    width: 40%;
  }

  .right {
    width: 60%;
    float: left;
    $cartBoxWidth: 240px;
    .rLeft {
      padding: 18px 18px 0;
      box-sizing: border-box;
      // margin-right: $cartBoxWidth;
      .goodsTitle {
        color: #555;
        font-size: 1.5em;
        font-weight: 400;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
      }
      .goodsOpts {
        // width: 100%;
        margin-top: 10px;
        margin-right: $cartBoxWidth;
        max-width: 100%;
        box-sizing: border-box;
        float: none;
        width: auto;
        word-break: break-all;
        word-wrap: break-word;
        dd {
          float: left;
          margin: 10px 0;
        }
        dd + dd {
          margin-left: 10px;
        }
      }
    }
    .rRight {
      float: right;
      padding: 18px;
      text-align: center;
      width: $cartBoxWidth;
      box-sizing: border-box;
      background: #fff;
      .shareImg {
        // cursor: pointer;
      }
      .addToCartContainer {
        padding: 18px;
        margin-top: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        .addToCartBtn {
          padding: 0;
          width: 100%;
          height: 31px;
          color: #111;
          line-height: 26px;
          border: 1px solid;
          background: #f0c14b;
          box-sizing: border-box;
          border-color: #a88734 #9c7e31 #846a29;
          &:hover {
            background: #e6be58;
            border-color: #a88734 #9c7e31 #846a29;
          }
          .cartIcon {
            float: left;
            margin-left: 2px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .preview {
    width: auto;
    margin-left: 60px;
    text-align: center;
    height: 500px;
    position: relative;
    .previewImg {
      max-width: 80%;
      max-height: 60%;
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 0; 
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .goodsOpts,
  .thumbnailList {
    float: left;
    width: 38px;
    .thumbnail {
      width: 38px;
      height: 50px;
      cursor: pointer;
      overflow: hidden;
      text-align: center;
      margin-bottom: 10px;
      border: 1px solid #eee;
      &.active,
      &:hover {
        border-color: rgb(231, 118, 0);
        box-shadow: rgba(228, 121, 17, 0.5) 0px 0px 3px 2px;
      }
      img {
        top: 50%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        vertical-align: middle;
        transform: translateY(-50%);
      }
    }
  }

  .goodsDetails {
    font-size: 1em;
    margin-left: 1.2em;
    clear: both;
    list-style-type: disc;
    li + li {
      clear: both;
      margin-top: 8px;
    }
    line-height: 1.3em;
  }

  .review {
    clear: both;
    // margin-top: 30px;
  }

  .reviewsSum {
    .imgAndCount {
      cursor: pointer;
      &:hover {
        .reviewSumCount {
          color: #c45500;
        }
      }
    }
    h2 {
      font-size: 1.2em;
      margin-bottom: 14px;
    }
    .reviewSumImg {
      vertical-align: bottom;
    }
    .reviewSumDesc {
      color: #0066c0;
      font-size: 0.8em;
      margin: 4px 0 14px;
    }
  }

  .reviewDetailList {
    font-size: 1.2em;
    li {
      float: none;
      color: #0066c0;
      font-family: monospace;
      .progressBar {
        width: 100px;
        max-width: 100px;
        margin-bottom: 3px;
        vertical-align: middle;
      }
    }
  }
}

.section2 {
  // margin-top: 30px;

  .reviewDetails {
    .rvwLeft,
    .rvwRight {
      width: 50%;
      float: left;
      padding: 20px;
      box-sizing: border-box;
    }
    .rvwRight {
      border-left: 1px solid #eee;
    }
  }
}
