.amazonContainer{
  min-width: 996px;
  height: 100%;
  .note{
    background: yellow;
    padding: 8px;
  }
}

.confirmFooter{
  button:first-child{
    float: left;
  }
  button:last-child{
    float: right;
  }
}