.amazonContainer{
  height: 100%;
  min-width: 996px;
  .note{
    padding: 8px;
    font-size: 1.5em;
    font-weight: bold;
    background: yellow;
  }
}

.confirmFooter{
  button:first-child{
    float: left;
  }
  button:last-child{
    float: right;
  }
}

.goodsPic{
  height: 500px;
  overflow: hidden;
  max-height: 500px;
  text-align: center;
  position: relative;
  img{
    top: 50%;
    max-height: 100%;
    position: relative;
    transform: translateY(-50%);
  }
}