.root {
  padding: .3em 20px 0;
  font-size: 1em;
  border-bottom: 1px dashed #eee;
  font-size: 14px;
}

.userInfo {
  .avatar {
    width: 34px;
    height: 34px;
    margin-right: 8px;
    border-radius: 34px;
    vertical-align: middle;
  }
  .userName{
    font-size: 1em;
  }
  .date {
    float: right;
    font-size: .6em;
    margin-top: 0.3em;
    // margin-left: 50px;
  }
}

.review {
  .userReview{
    font-size: 1.2em;
    margin: 0 0 .4em;
    margin-left: 46px;
  }
}
