<div local-class="userInfo">
  <img src={{reviewData.userInfo.avatar}} local-class="avatar" alt=""> <span local-class="userName">{{reviewData.userInfo.userName}}</span>
    <div local-class="date">
    {{reviewData.date}}
  </div>
</div>

<div local-class="review">
  <p local-class="userReview">
    {{reviewData.reviewTxt}}
  </p>
</div>