<div local-class="userInfo">
  <img src={{reviewData.userInfo.avatar}} local-class="avatar" alt=""> {{reviewData.userInfo.userName}}
</div>

<div local-class="review">
  <div local-class="date">
  {{reviewData.date}}
  </div>
  <p>
    {{reviewData.reviewTxt}}
  </p>
</div>